.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-light-green, 0.8), rgba($color-dark-blue, 0.8)),
    url(./img/coding.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    background-color: rgba($color-dark-blue, 0.8);
    height: 6.5rem;
    width: 6.5rem;
  }
  &__letters {
    position: absolute;
    top: 40%;
    left: 50%;
    color: $color-primary-white;
    transform: translate(-20%, -20%);
    font-size: 3rem;
    font-weight: 700;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}